.hackathon-block {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    min-width: 600px;
    margin-bottom: 20px;
}

.hackathon-title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 5px;
}

.hackathon-host {
    margin-bottom: 5px;
    color: #6B7280;
}

.hackathon-duration {
    margin-bottom: 12px;
    color: #6B7280;
}

.hackathon-by {
    margin-bottom: 12px;
    color: #6B7280;
}

.hackathon-link {
    border: 1px solid #008AE6;
    border-radius: 5px;
    background-color: #008AE6;
    color: white;
    padding: 3px 10px;    
}