.user-profile-main {
    margin: auto;
    width: 60%;
}

.user-profile {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    /* margin: auto;
    width: 60%; */
}

@media only screen and (max-width: 800px) {
    .user-profile-main {
        width: 93%;
    }
}

.user-display-name {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.profile-cat {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.profile-content {
    margin-bottom: 10px;
}

.profile-social-links a {
    margin-right: 20px;
}

.user-web3-projects {
    display: flex;
    flex-wrap: wrap;
}

.user-web3-projects a{
    display: block;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    min-width: 220px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
}

.user-web3-projects span {  
    font-size: 14px;
    color: #808080;
    font-weight: 400;
}

.user-username {
    font-size: 17px;
    color: #737373;
}

.profile-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
 }

 .profile-loader {
    border: 4px solid #e6e6e6;
    border-radius: 50%;
    border-top: 5px solid #999999;
    width: 26px;
    height: 26px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.profile-footer-links {
    font-size: 16px;
    margin-bottom: 10px;
}  

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .profile-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }